{% assign menu = site.data.menu %}
{% assign current_url = page.url | replace: '.html', '/' | replace: '//', '/' %}

{% if menu %}
  <nav class="site-navigation{% if include.show_brand %} site-navigation--header{% endif %}" role="navigation">
    {% if include.show_brand and site.title %}
      <a class="site-brand" href="{{ '/' | prepend: site.baseurl }}">
        {{ site.title }}
      </a>
    {% endif %}
    <ul>
      {% unless include.hide_home %}
        <li>
          <a href="{{ '/' | prepend: site.baseurl }}">
            Home
          </a>
        </li>
      {% endunless %}
    {% for item in site.data.menu %}
      {% assign item_url = item.url | replace: '.html', '/' | replace: '//', '/' %}
      <li {% if current_url == item_url %}class="active"{% endif %}>
        {% if item.url contains 'http' %}
          <a href="{{ item.url }}">
            {{ item.title }}
          </a>
        {% else %}
          <a href="{{ item.url | prepend: site.baseurl }}">
            {{ item.title }}
          </a>
        {% endif %}
      </li>
    {% endfor %}
    </ul>
  </nav>
{% endif %}
