.site-navigation {
  margin-top: 2rem;
  padding: 0 1rem;
  &:hover,
  &:focus-within {
    a {
      opacity: .7;
    }
  }
}

.site-navigation--header {
  align-items: center;
  display: flex;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 0;
  padding: 1.25rem 1rem 0;
  @media (max-width: $on-tablet) {
    align-items: flex-start;
    flex-direction: column;
    gap: .75rem;
  }
}

.site-navigation ul {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.site-navigation--header ul {
  justify-content: flex-end;
}

.site-navigation li {
  list-style: none;
  font-size: .875em;
  font-variant: small-caps;
  margin: 0;
  &.active a {
    text-decoration: underline;
  }
}

.site-brand {
  color: $text-color;
  flex-shrink: 0;
  font-size: 1.25rem;
  line-height: 1;
  text-decoration: none;
}

.site-navigation a {
  display: block;
  padding: .25em .5em;
  text-decoration: none;
  transition: opacity .125s ease-in-out;
  &:hover,
  &:focus {
    opacity: 1;
  }
}
