---
layout: default
---

{% if site.data.menu %}
  {% include site-header.html %}
{% else %}
  {% include back-link.html %}
{% endif %}

<main class="home{% if page.content_class %} {{ page.content_class }}{% endif %}" id="main" role="main" aria-label="Content">
  <header class="collection-header">
    <h1 class="content-title divided">{{ page.title }}</h1>
    {% if page.description %}
      <p class="collection-description">{{ page.description }}</p>
    {% endif %}
  </header>

  {{ content }}
</main>
